// Textstyles

@mixin body-sm {
  font-size: var(--fs-1);
  font-weight: var(--fw-regular);
}

@mixin caption {
  font-size: var(--fs-1);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
}

@mixin body {
  font-size: var(--fs-2);
  font-weight: var(--fw-regular);
}

@mixin subheading {
  font-size: var(--fs-2);
  font-weight: var(--fw-semibold);
}

@mixin heading {
  font-size: var(--fs-3);
  font-weight: var(--fw-semibold);
}

@mixin caption-heading {
  font-size: var(--fs-3);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  color: $accent-default;
}

@mixin title-sm {
  font-size: var(--fs-4);
  font-weight: var(--fw-semibold);
}

@mixin title-md {
  font-size: var(--fs-5);
}

@mixin title-lg {
  font-size: var(--fs-6);
}

@mixin title-xl {
  font-size: var(--fs-7);
}

@mixin display {
  font-family: var(--font-heading);
  font-weight: var(--fw-semibold);
}

@mixin display-sm {
  font-size: var(--fs-8);
  @include display;
}

@mixin display-md {
  font-size: var(--fs-9);
  @include display;
}

@mixin display-lg {
  font-size: var(--fs-10);
  @include display;
}

// Utilities

@mixin container-page {
  width: min(var(--w-page), 100%);
  margin-inline: auto;
}

@mixin container-content {
  width: min(var(--w-content), 100%);
  padding-inline: var(--space-DEFAULT);
}
