@tailwind base;
@tailwind components;
@tailwind utilities;

@layer global, theme, patterns;

@import './theme.css';
/* @import './utilities.css'; */

@layer global {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font: inherit; */

    transition-property: color, border-color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--bg-canvas);

    font-family: var(--font-body);
    font-size: var(--fs-DEFAULT);
    line-height: var(--line-DEFAULT);
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  p,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    hyphens: auto;
    max-inline-size: 60ch;
  }

  li {
    list-style-type: none;
  }

  a {
    cursor: pointer;
  }
}
