/* @layer utilities {

  .caption {
    font-size: var(--fs-1);
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
  }

  .caption-heading {
    font-size: var(--fs-3);
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
  }

  .body-sm {
    font-size: var(--fs-1);
    font-weight: var(--fw-semibold);
  }

  .body {
    font-size: var(--fs-2);
    font-weight: var(--fw-regular);
  }

  .subheading {
    font-size: var(--fs-3);
    font-weight: var(--fw-semibold);
  }

  .heading {
    font-size: var(--fs-4);
    font-weight: var(--fw-bold);
  }

  .title-sm {
    font-size: var(--fs-5);
    font-weight: var(--fw-semibold);
  }

  .title-md {
    font-size: var(--fs-6);
    font-weight: var(--fw-regular);
  }

  .title-lg {
    font-size: var(--fs-7);
    font-weight: var(--fw-bold);
  }

  .display-sm {
    font-family: var(--font-heading);
    font-size: var(--fs-8);
    font-weight: var(--fw-semibold);
  }

  .display-md {
    font-family: var(--font-heading);
    font-size: var(--fs-9);
    font-weight: var(--fw-regular);
  }

  .display-lg {
    font-family: var(--font-heading);
    font-size: var(--fs-10);
    font-weight: var(--fw-bold);
  }


  .container-page {
    max-width: var(--w-page);
    margin-inline: auto;
  }

  .container-content {
    max-width: var(--w-content);
    margin-inline: auto;
  }

  .container-section {
    max-width: var(--w-section);
    margin-inline: auto;
  }
} */
