@use '/src/styles/pattern';

.homepage {
  @include pattern.container-page;
}

.hero {
  height: calc(100dvh - 4rem);
  display: grid;
  grid-template-areas: 'stack';

  & > * {
    grid-area: stack;
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%);
    z-index: -100;
    overflow-y: hidden;

    &-overlay {
      width: 100%;
      height: 100%;
      background-color: #00000040;
      z-index: -50;
    }
  }

  &-title-container {
    padding-inline: var(--space-xl);
    width: min(56rem, 100%);
    place-self: center;
    text-align: center;
  }

  &-title {
    @include pattern.title-lg;
    font-family: var(--font-brand);
    letter-spacing: 2px;
    color: var(--accent-500);
    text-shadow: 1px 1px 0 var(--accent-800), 2px 2px 0 var(--accent-800),
      3px 3px 0 var(--accent-800);
  }

  &-subtitle {
    margin-top: var(--space-md);
    margin-bottom: var(--space-2xl);
    @include pattern.display-sm;
    color: white;
  }

  &-btn {
    width: min(12rem, 100%);
    background-color: var(--accent-800);
    box-shadow: var(--shadow-lg);
    border: 1px solid var(--accent-700);
    font-size: var(--fs-2);

    &:hover {
      background-color: var(--accent-900);
    }
  }
}

@media (width < 768px) {
  .hero {
    height: min(768px, 100dvh);
  }
}

@media (width < 640px) {
  .hero {
    height: calc(100dvh - 3.5rem);
  }
}

@media (width < 480px) {
  .hero-btn {
    width: 100%;
  }
}

.section-title {
  @include pattern.title-sm;
}

.promo {
  min-height: 5rem;
  background-color: var(--accent-500);
}

.brand {
  display: flex;
  gap: var(--space-DEFAULT);

  &-logo-container {
    position: relative;
    width: 2rem;
  }

  &-name {
    @include pattern.title-sm;
    font-family: var(--font-brand);
  }
}
