@use '@/styles/pattern';

.card {
  width: min(15rem, 100%);
  padding: var(--space-DEFAULT);

  background-color: var(--bg-default);
  border: 1px solid var(--accent-100);
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-sm);
  transition: all 200ms ease-in-out;
  cursor: pointer;

  display: grid;
  gap: var(--space-DEFAULT);
}

.card:hover {
  border-color: var(--accent-400);
  box-shadow: var(--shadow-xl);

  .image {
    transform: scale(1.03);
    -webkit-transition: transform 400ms ease-out;
    transition: transform 300ms ease;
  }
}

.imageContainer {
  aspect-ratio: var(--ratio-square);
  border-radius: var(--radius-xl);
  position: relative;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: center;
}

.name {
  @include pattern.body;
  font-weight: var(--fw-semibold);
  color: var(--fg-muted);
}

.price {
  @include pattern.body;
  font-weight: var(--fw-semibold);
  color: var(--warning-500);
}

.whishlistBtn {
  flex: 0 1 auto;
}

.orderBtn {
  flex: 1 1 auto;
}
