.root {
  --default-color: var(--fg-subtle);
  --hover-color: var(--fg-muted);

  --default-color-dark: var(--bg-muted);
  --hover-color-dark: var(--bg-subtle);

  background: none;
  color: var(--default-color);
  border: 1px solid transparent;

  &:hover {
    background: unset;
    color: var(--hover-color);
  }

  &[data-variant='solid'] {
    color: white;
    background: var(--default-color);
    border-color: var(--default-color);
    box-shadow: var(--shadow-sm);

    &:hover {
      background: var(--hover-color);
      border-color: var(--hover-color);
    }
  }

  &[data-variant='outline'] {
    border-color: var(--default-color);

    &:hover {
      background: var(--bg-subtle);
    }
  }

  &[data-variant='muted'] {
    background: var(--bg-subtle);

    &:hover {
      background: var(--bg-muted);
    }
  }

  &[data-variant='ghost']:hover {
    background: var(--bg-muted);
  }

  &[data-variant='text'] {
    &:hover {
      color: var(--hover-color);
    }
  }
}
