.button {
  padding: 0.55em 1em;
  font-size: var(--fs-2);
  font-weight: var(--fw-semibold);
  letter-spacing: 1px;
  background-color: none;
  border-radius: var(--radius-DEFAULT);

  display: flex;
  justify-content: center;
  align-items: center;

  &.withIcon {
    justify-content: space-between;
    gap: var(--space-sm);
  }

  &.isIcon {
    padding: 0.2em 0.5em;
  }

  &.solid {
    background-color: var(--accent-500);
    color: white;
  }
  &.solid:hover {
    background-color: var(--accent-600);
  }

  &.outline {
    border: 2px solid var(--accent-500);
    color: var(--accent-500);
  }
  &.outline:hover {
    background-color: var(--accent-200);
  }

  &.muted {
    color: var(--accent-500);
    background-color: var(--bg-subtle);
  }

  &.ghost:hover {
    background-color: var(--bg-subtle);
  }

  &.text {
    color: var(--fg-muted);
  }
  &.text:hover {
    color: var(--accent-600);
  }

  &.xs {
    font-size: var(--fs-1);
  }
  &.sm {
    font-size: var(--fs-2);
  }
  &.md {
    font-size: var(--fs-3);
  }
  &.lg {
    font-size: var(--fs-4);
  }

  &.isIconXs {
    font-size: var(--fs-2);
  }
  &.isIconSm {
    font-size: var(--fs-3);
  }
  &.isIconMd {
    font-size: var(--fs-4);
  }
  &.isIconLg {
    font-size: var(--fs-5);
  }
}
